%h1 Listing stores

%table
  %tr
    %th Title
    %th Percentage
    %th Description
    %th Active
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= store.title
      %td= number_to_percentage(store.percentage, precision: 2)
      %td= store.description
      %td= store.active
      %td= link_to 'Show', [:adminboard, store]
      %td= link_to 'Edit', edit_adminboard_store_path(store)
      %td= link_to 'Destroy', [:adminboard, store], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Store', new_adminboard_store_path
