-# app/views/layouts/adminboard/application.html.haml

!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "initial-scale=1.0, width=device-width", name: "viewport" }
    %title Student Funding - Adminboard
    %meta{ content: "Lim9 (info[@]lim9.com)", name: "author" }
    = favicon_link_tag "favicon.png", rel: "icon", type: "image/png"
    = favicon_link_tag "favicon.ico", type: "image/vnd.microsoft.icon"
    = stylesheet_link_tag "adminboard/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "adminboard/application", "data-turbolinks-track" => true, async: true
    = csrf_meta_tags
  %body
    .universal
      .placeholder
        .wrap
          .row12Left
            = yield
            - if current_administrator
              = current_administrator.email
            = link_to "Log out", adminboard_logout_path
        .clear
