%h1 Listing legal

%table
  %tr
    %th Title
    %th Active
    %th
    %th
    %th

  - @legal.each do |legal|
    %tr
      %td= legal.title
      %td= legal.active
      %td= link_to 'Show', [:adminboard, legal]
      %td= link_to 'Edit', edit_adminboard_legal_path(legal)
      %td= link_to 'Destroy', [:adminboard, legal], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Legal', new_adminboard_legal_path
